.player {
    width: 300px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    background-color: rgb(50, 50, 50, 0.5);
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    border: 1px solid white;
    
    img {
        border-radius: 100%;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    span {
        margin-left: 20px;
        font-size: 25px;
    }
    
}

.player-active {
    background-color: rgb(183, 25, 25) !important;
    color: black;
}