.dialog-container {
    background-color: #805454 !important;
    border: 3px solid white;
    border-radius: 3px;
    overflow: hidden;
}

.mat-mdc-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;

}
.mat-mdc-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}