$text-gray: rgba($color: #000000, $alpha: 0.5);

.mat-card {
    border-radius: 20px;
    color: $text-gray;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

    & :first-child,
    :last-child {
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 0px;
    }

}

.color-black {
    color: black;
}

.mat-mdc-card,
.mat-card,
.mcd-card {
    border: 3px solid white;
    background-color: #805454;
    color: white;
    height: 150px;
}


@media screen and (max-width: 1000px) {

    .mat-card {
        border-radius: 0;
        color: $text-gray;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;

        & :first-child,
        :last-child {
            padding-left: 20px;
            padding-right: 160px;
            padding-top: 8px;
            line-height: 15px;
        }
    }
::-webkit-scrollbar {
    display: none;
}
    .mat-mdc-card,
    .mat-card,
    .mcd-card {
        height: 160px;
        overflow: scroll;

        border: none;
        border-top: 2px solid white;
       
    }
}